body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:645px;
}
#u0 {
  position:absolute;
  left:50px;
  top:42px;
  width:325px;
  height:645px;
}
#u1 {
  position:absolute;
  left:2px;
  top:314px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:667px;
  background:-webkit-linear-gradient(270deg, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 102, 1) 0%, rgba(153, 204, 204, 1) 100%, rgba(153, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 102, 1) 0%, rgba(153, 204, 204, 1) 100%, rgba(153, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 102, 1) 0%, rgba(153, 204, 204, 1) 100%, rgba(153, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:50px;
  top:20px;
  width:325px;
  height:667px;
}
#u3 {
  position:absolute;
  left:2px;
  top:326px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:20px;
  width:325px;
  height:23px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:23px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:44px;
  top:3px;
  width:49px;
  height:14px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  position:absolute;
  left:139px;
  top:4px;
  width:47px;
  height:14px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u11 {
  position:absolute;
  left:257px;
  top:3px;
  width:33px;
  height:14px;
  font-family:'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u13 {
  position:absolute;
  left:93px;
  top:0px;
  width:19px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u15 {
  position:absolute;
  left:290px;
  top:0px;
  width:34px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:7px;
}
#u17 {
  position:absolute;
  left:7px;
  top:7px;
  width:34px;
  height:7px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:23px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u21 {
  position:absolute;
  left:81px;
  top:0px;
  width:19px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23 {
  position:absolute;
  left:44px;
  top:3px;
  width:35px;
  height:14px;
  font-family:'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u25 {
  position:absolute;
  left:164px;
  top:2px;
  width:47px;
  height:14px;
  font-family:'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u27 {
  position:absolute;
  left:309px;
  top:3px;
  width:33px;
  height:14px;
  font-family:'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u29 {
  position:absolute;
  left:342px;
  top:0px;
  width:34px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:7px;
}
#u31 {
  position:absolute;
  left:7px;
  top:7px;
  width:34px;
  height:7px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:96px;
  top:176px;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:60px;
  width:59px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
